body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #da5a5a;
    padding: 20px;
}

#logo {
    width: 150px; /* Ajuste a largura da logo conforme necessário */
    height: auto;
    margin: 10px auto; /* Alinha a logo ao centro */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Alinha os elementos em coluna */
}

h1 {
    color: #ffffff;
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    font-size: 24px;
    font-family: Arial, sans-serif;
    background-color: #630000;
    text-align: center; /* Centraliza o texto dentro do h1 */
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: beige;
    cursor: pointer;
    margin: 20px auto; /* Centraliza o botão */
    display: block; /* Garante que o botão seja exibido como bloco */
}

#results {
    margin-top: 20px;
}

.hemocentro {
    background-color: #fff;
    color: #000;
    padding: 15px;
    margin: 10px auto;
    border: 2px solid #000;
    border-radius: 8px;
    max-width: 600px;
    text-align: left;
}
