/* style.css */


body {
    font-family: Arial, sans-serif;
    background-color: rgb(214, 101, 101);
    color: white;
}


header {
    text-align: center;
    margin: 20px;
}


#logo {
    max-width: 150px;
}


.header-text h1 {
    background-color: rgb(99, 0, 0);
    color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}


.location-selector {
    text-align: center;
    margin: 20px;
}


.location-selector label {
    background-color: rgb(99, 0, 0);
    color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    margin: 10px;
}
.location-selector select {
    width: 200px
}
.location-selector button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}


#resultados {
    text-align: center;
    margin-bottom: 20px
}


.hemocentro {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10;
    margin: 10px auto;
    max-width: 400px;
    border: 2px solid black;
}

.credit {
    text-align: center;
    font-size: 12px; /* Texto menor para ser mais discreto */
    color: #cccccc; /* Cor mais clara para o texto */
    margin-top: 20px; /* Espaçamento para separá-lo dos resultados */
}

.credit a {
    color: #cccccc; /* Cor mais clara para o link */
    text-decoration: none; /* Remover sublinhado do link */
}

.credit a:hover {
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}



.no-hemocentro {
    display: none; /* Oculto por padrão */
    border: 2px solid white; /* Borda */
    background-color: black; /* Fundo dentro da borda */
    color: white; /* Texto em branco */
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

